name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install dvc dvc[gdrive] mlflow

    - name: Pull data from DVC remote
      run: dvc pull

    - name: Run DVC pipeline
      run: dvc repro

    - name: Push updated artifacts to DVC remote
      run: dvc push
    - name: Create GCS credentials file
      run: echo "$GCS_CREDS" > gcs-creds.json
      env:
        GCS_CREDS: ${{ secrets.GCS_CREDS }}
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install "dvc[gs]" mlflow
